.tokyonight-night {
	--background-color: #1a1b26;
	--foreground-color: #c0caf5;

	/* Highlight colors */
	--cursor-color: #c0caf5;
	--text-color: #1a1b26;

	/* Normal colors */
	--color-black: #15161e;
	--color-red: #f7768e;
	--color-green: #9ece6a;
	--color-yellow: #e0af68;
	--color-blue: #7aa2f7;
	--color-magenta: #bb9af7;
	--color-cyan: #7dcfff;
	--color-white: #a9b1d6;

	background: var(--background-color);
	color: var(--foreground-color);
}

.tokyonight-night .bright {
	--color-black: #414868;
	--color-red: #f7768e;
	--color-green: #9ece6a;
	--color-yellow: #e0af68;
	--color-blue: #7aa2f7;
	--color-magenta: #bb9af7;
	--color-cyan: #7dcfff;
	--color-white: #c0caf5;
}

.tokyonight-night::selection {
	background-color: var(--cursor-color);
	color: var(--text-color);
}
